body{
    font-family: 'Roboto', sans-serif;background-color: lightgrey;
    background-color: #EAC926;
}
#logo{
    background-color: #EAC926;
    display: inline-block;
}
#logo img{
    width: 40%;
}

ul{
    list-style-type: none;
    text-decoration: none;
}

ul a{
    text-decoration: none;
}
.burger-menu button{
    background-color: #03264C;
    color: white;
}

footer {
    background-color: white;
}

footer div{
    text-align: center;
}
footer div i{
    color: #1259c3;
}