<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = 'Content-Type' content = 'text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesRegister.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Mercado Liebre | Registro</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
            <div class="barra">
                <input class="unInput" type="text" placeholder="Buscar productos, marcas y más">
                <button class="buscarButton"><i class="fa fa-search"></i></button>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="last-visit">
            <h3>Nueva cuenta</h3>
            <form action="/register" method="POST">
                <div class="camposNombre">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="text">
                </div>

                <div class="usuario">
                    <input type="text" name="usuario" placeholder="Nombre de usuario" class="text">
                </div>

                <div class="fechaNacimiento">
                    <label for="nacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="nacimiento" class="fecha">
                </div>

                <div class="direccion">
                    <input type="text" name="direccion" placeholder="Domicilio" class="text dom">
                </div>

                <h3>Perfil del usuario</h3>
                    <input type="radio" name="perfil" id="comprador" value="comprador">
                    <label for="comprador" class="casilla">Comprador</label>
                    <input type="radio" name="perfil" id="vendedor" value="vendedor">
                    <label for="vendedor" class="casilla">Vendedor</label>

                <h3>Intereses</h3>
                <div class="intereses">
                    <input type="checkbox" name="intereses" id="electro" value="electro">
                    <label for="electro" class="casilla">Electro</label>
                    <input type="checkbox" name="intereses" id="moda" value="moda">
                    <label for="moda" class="casilla">Moda</label>
                    <input type="checkbox" name="intereses" id="hogar" value="hogar">
                    <label for="hogar" class="casilla">Hogar</label>
                    <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
                    <label for="jugueteria" class="casilla">Juguetería</label>
                    <input type="checkbox" name="intereses" id="vidasana" value="vidasana">
                    <label for="vidasana" class="casilla">Vida Sana</label>
                </div>

                <div class="avatar">
                    <h3 class="h3avatar">Elegí tu foto de usuario</h3>
                    <input type="file" name="avatar" id="img" >
                    <label for="img" class="avatar">Subir imagen</label>
                </div>

                <div class="contrasena">
                    <input type="password" name="password" placeholder="Elegí tu contraseña" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&amp;])[A-Za-z\d@$!%*#?&amp;]{8,}$" class="text pwd">
                    <input type="password" placeholder="Confirmá tu contraseña" minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&amp;])[A-Za-z\d@$!%*#?&amp;]{8,}$" class="text">
                </div>

                <div class="buttons">
                    <button type="submit" class="enviar">Enviar</button>
                    <button type="reset" class="borrar">Borrar</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <div class="tarjetas">
            <div>
                <i class="fas fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
    
            <div>
                <i class="fas fa-gift"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
    
            <div>
                <i class="fas fa-user-shield"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>

        <div>
            <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
            
        </div>
        <!-- 
            Tendrá las siguientes secciones:
            ● Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            ● Envío gratis desde $ 2.500
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            ● Seguridad, de principio a fin
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            ● Copyright © 1999-2020 MercadoLiebre S.R.L.
         -->
    </footer>
</body>
</html>