<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = 'Content-Type' content = 'text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div id="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="" srcset="">
            <br>
            <input type="text" placeholder="Buscar productos, marcas, etc.">
            <button><i class="fas fa-search"></i></button>
        </div>
        <div>
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
        </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
                <li><a href="">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
        </nav>
        <!-- Tendremos que maquetar:
            ● Logo
            ● Lugar para poner la barra de búsqueda
            ● Comprá en cuotas y sin tarjeta de crédito
            ● Barra de navegación que posea las siguientes opciones:
            ○ Ofertas
            ○ Tiendas Oficiales
            ○ Vender
            ○ Ayuda
            ○ Creá tu cuenta
            ○ Ingresá
            ○ Mis compras -->
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" srcset="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" srcset="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" srcset="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </section>

        <section>
            <h2>Ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="" srcset="">
                <p>$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="" srcset="">
                <p>$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" srcset="">
                <p>$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="" srcset="">
                <p>$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </div>
        </section>
        <!-- Tendremos dos secciones y en cada una de ellas mostraremos la siguiente información:
            ● Sección: Basado en tu última visita
                
            ● Sección de Ofertas
            imagen de la cafetera $6.770
            40% off
            Cafetera Moulinex
            imagen de MacBook $230.000
            20% off
            MacBook Pro 2019
            imagen Samsung $70.500
            10% off
            Samsung Galaxy S10 imagen SmarTv $23.200
            5% off
            SmartTv Samsung 43" -->
    </main>
    <footer>
        <div>
            <i class="fas fa-credit-card fa-4x"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div>
            <i class="fas fa-gift fa-4x"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div>
            <i class="fas fa-user-shield fa-4x"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>

        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </div>
        <!-- 
            Tendrá las siguientes secciones:
            ● Pagá con tarjeta o en efectivo
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            ● Envío gratis desde $ 2.500
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            ● Seguridad, de principio a fin
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            ● Copyright © 1999-2020 MercadoLiebre S.R.L.
         -->
    </footer>
</body>
</html>